* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smythe', cursive;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
}
header {
    background-image: url(./image/burger.jpg);
    height: 167px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* == typography == */

h1, h2 {
    margin: 0;
    padding: 8px 0px 8px 10px;
    color: #FFFFFF;
}

h1 {
    font-size: 39px;
    line-height: 24px;
}

h2 {
    font-size: 22.42px;
    line-height: 13.8px;
    letter-spacing: 2px;
}

h3 {
    font-size: 28px;
    line-height: 16.8px;
}

.item {
    font-size: 78.72px;
    line-height: 98.4px;
}

.about-item {
    font-size: 16px;
    line-height: 24px;

}

.item-price {
    font-size: 20px;
    line-height: 24px;
}

/* order typographi */
.order-section-header {
    text-align: center;
    padding-bottom: 10px;
    font-size: 28px;
    line-height: 16.8px;
}

.ordered-item {
    font-size: 28px;
}

.remove-item {
    font-size: 12px;
}

.see-price {
    font-size: 20px;
    line-height: 33px;
}

.total-price-text {
    font-size: 28px;
    color: #0E0E0E;
}

.total-price {
    margin-right: 10px;
    font-size: 20px;
    line-height: 33px;
}

/* modal typographi */
.modal-header {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.12px;
    color: #000000;
    padding: 20px;
}

/* == Section == */

section {
    background-color: white;
    width: 508px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D2D2D2;
    padding: 40px 0px;
}

.item-flex {
    display: flex;
    gap: 0px 10px;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.add-icon {
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid #DEDEDE;
    ;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 5px;
}

.fa-plus {
    padding-top: 12.5px;
    color: #3C3C3C;
    width: 100%;
    height: 100%;
}
.fa-minus {
    padding-top: 12.5px;
    width: 100%;
    height: 100%;
}

/* == Order section == */
/* .order {
    display: none;
} */

.hide {
    display: none !important;
}

.order-section {
    background-color: white;
    width: 508px;
    margin: 0 auto;
    padding: 30px 0px;
}

.order-flex {
    display: flex;
    justify-content: space-between;
}

.see-price {
    display: block;
    margin-right: 0 auto;
    color: red;
    margin-right: 10px;
}

.total-price-div {
    display: flex;
    justify-content: space-between;
    padding: 2px 0px 20px 0px;
    border-top: 1px solid black;
}

.order-btn {
    text-align: center;
    width: 100%;
    height: 60px;
    background: #16DB99;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    border: none;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

/* buing mgs */
.buing-mgs {
    display: none;
    text-align: center;
    width: 508px;
    margin: 0 auto;
    padding: 35px 0;
    
    background: #ECFDF5;
    border-radius: 3px;
    color: #065F46;
    font-size: 32px;
    line-height: 17px;
}


/* == Modal styles == */

.modal{
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 90px;
    bottom: 0;
    width: 524px;
    height: 450px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

input {
    display: block;
    width: 475.91px;
    margin: 0 auto;
    padding: 20px 0px;
    margin-bottom: 23.22px;

    border: 1.29664px solid #757575;
    border-radius: 3.88991px;
    color: #757575;
}

.pay-btn {
    display: block;
    width: 475.91px;
    margin: 0 auto;
    padding: 20px 0px;
    background-color: #16DB99;
    border: none;
    margin-bottom: 20px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}