* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smythe', cursive;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
}
header {
    background-image: url(./image/burger.jpg);
    height: 167px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* == typography == */

h1, h2 {
    margin: 0;
    padding: 8px 0px 8px 10px;
    color: #FFFFFF;
}

h1 {
    font-size: 39px;
    line-height: 24px;
}

h2 {
    font-size: 22.42px;
    line-height: 13.8px;
    letter-spacing: 2px;
}

h3 {
    font-size: 28px;
    line-height: 16.8px;
}

.item {
    font-size: 78.72px;
    line-height: 98.4px;
}

.about-item {
    font-size: 16px;
    line-height: 24px;

}

.item-price {
    font-size: 20px;
    line-height: 24px;
}

/* == Section == */

section {
    background-color: white;
    width: 508px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D2D2D2;
    padding: 40px 0px;
}

.item-flex {
    display: flex;
    gap: 0px 10px;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.add-icon {
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid #DEDEDE;
    ;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 5px;
}

.fa-plus {
    padding-top: 12.5px;
    color: #3C3C3C;
}